button{
position:auto;
height:150px;
width:150px;
color:black;
font-size:18px;
background-color:yellow;
border:2px solid blue; 
border-radius:10px;
}
body{
background-image:url("index1.jpg");
background-repeat:no-repeat;
background-size:cover;
background-attachment:fixed;
margin-left:35%;
font-size:30px;
color:skyblue;
}
#main{
display:flex;
flex-direction:row;
margin-left:auto;
width:100%;
}
#row1{
display:flex;
flex-direction:column;
}
#row2{
display:flex;
flex-direction:column;
}
#row3{
display:flex;
flex-direction:column;
}