button{
height:500px;
width:500px;
color:white;
font-size:18px;
background-color:black;
border:2px solid white; 
border-radius:10px;
}
body{
background-color:yellow;
background-repeat:no-repeat;
position:fixed;
object-fit:cover;
}
#main{
margin:auto;
width:100%;
}
